.strong{
    font-weight:bold;
}

.card-home:hover{
    background-color: #060;
}
.card-home:hover .card{
    background-color: #060;
    color:#fff;
}

.footer-contactenos{
    border-right:1px solid #bbb;
}

.copyright{
    background-color: #060;
    color:#fff;
}

/**/